body {
  font-size: 28px;
}


.topNavBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


.topNavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; 
  
}

.topNavBar li {
  float: left;
}

.topNavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topNavBar li a:hover {
  background-color: #111;
}

.topNavBar .active {
  background-color: #4CAF50;
}



.mainContent {

  padding: 10px;
}


.rigthContent{
  margin-left:25%;
  padding:10px;
}


/*  mainContent-> leftBar    */

.leftBar{
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.leftBar ul {
  list-style-type: none;
}

.leftBar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.leftBar li a.active {
  background-color: #4CAF50;
  color: white;
}

.leftBar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}